body {
    background: #AD9A98;
    font-family: 'Overpass', sans-serif;
}

h1 {
    color: #F4F5F4;
    margin-top:50px;
    text-align: center;
}

button {

}

#board {
    padding-top:100px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flashcard {
    background: #BB8694;
    color: #F4F5F4;
    margin: 20px;
    padding-top: 3%;
    width:20%;
    text-align: center;
    height: 250px;
    border-radius:10%;
    box-shadow: -10px -5px 10px #47434E;
    position: relative;
}

.question {
    font-size: 30px;
    /* position: absolute;
    left:30%; */
}

.answer {
    font-size: 30px;
    color:#47434E;
    padding-top:10%;
    /* position: absolute; */
    display:none;
    /* bottom: 10%;
    left: 30%; */
}

.show {
    display: block;
}